/* General reset and styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
}

/* Form container styling */
.form-box {
    width: 1350px;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-align: center;
}

.form-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    display: block;
}

/* Input fields styling */
form label {
    display: block;
    text-align: left;
    font-weight: bold;
    color: #666;
    margin-top: 10px;
}

form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
}

form input[type="text"]:focus {
    border-color: #4CAF50;
}

/* Button styling */
.btn {
    width: 100%;
    padding: 10px;
    background-color: rgb(37 39 70);
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #040504;
}

.navigate{
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
   
   
}

.navigate:hover{
    background-color: rgb(85, 94, 214);
}