<div class="header-container">
    <header class="header">
      <h1>Welcome to My Learning App</h1>
      <p>Your go-to place for great content!</p>
    </header>

    <div class="link-container">
       
        <a routerLink="Techno1">HTML</a>
        <a routerLink="Techno2">CSS</a>
        <a routerLink="Techno3">JAVASCRIPT</a>
        <a routerLink="Techno4">TYPESCRIPT</a>
        <a routerLink="Techno5">ANGULAR</a>
        <a routerLink="Techno6">Java</a>
        <a routerLink="login">Login</a>
    </div>
    
</div>




<router-outlet></router-outlet>