
.link-container {
    display: flex;
    gap: 125px;
    background-color:rgb(37 39 70);
    /* color: white; */
    padding: 20px;
    border-radius: 8px;
}

.link-container a {
    text-decoration: none; /* Remove underline from links */
    color: white; /* Link color */
}

.active{
  background-color:rgb(37 39 70);
  border-radius: 10px;
}



.link-container a:hover{
  text-decoration: underline;
  
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: white;
}

.container-fluid  {
  gap: 20px;
  margin-bottom: 1px;
  width: 100%;
}

.offcanvas {
  background-color: rgb(37 39 70);
  color: white;
}

/* image  */

img, svg {
  vertical-align: middle;
  width: 1350px;
}

  /* Center the entire header and HTML info within the viewport */
  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    background-color: #f0f0f0;
  }
  
  /* Style the header */
  .header {
    text-align: center;
    background-color: rgb(37 39 70);
    color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* margin-bottom: 20px; */
    width: 100%;
  }
  
  .bg-light {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
    width: 1350px;
}

