<div class="form-box">
    <label class="form-title">Sign Up</label>
    <form>
        <label>Name:</label>
        <input type="text" placeholder="Enter your name" [(ngModel)]="signobj.Name" name="Name"><br>
        <label>Password:</label>
        <input type="password" placeholder="Enter your password" [(ngModel)]="signobj.Mobile" name="Mobile"><br>
        <button class="btn" (click)="SignUp()">Sign Up</button>
    </form>
    <button class="already-account-btn" (click)="navigateToLogin()">Already have an account?</button>
</div>
